.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .container {
  width: 50%;
  border-radius: var(--borderRadius);
  box-shadow: 0 0 5px rgba(var(--boxShadow), 0.1);
  border: 1px solid var(--border2);
}

.header {
  padding: 15px 20px;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  background-color: var(--background);
  font-size: var(--fontLarge);
  font-weight: 600;
  text-transform: uppercase;
}

.searchBox {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding-right: 10px;
  align-items: center;
}
.inputWrapper {
  height: 100%;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
}
.input {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--font);
  color: var(--textLight);
}
.input.error {
  width: calc(100% - 180px);
  border-color: var(--error);
}
.errorMessage {
  color: var(--error);
  font-size: var(--font);
  font-weight: 600;
}
.sortBy {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius2);
  transition: all 0.2s ease-in;
}
.sortBy:hover {
  background-color: var(--background);
}
.listWrapper {
  height: calc(50vh - 85px);
  overflow: auto;
}
.listWrapper .note {
  font-style: italic;
  font-size: var(--fontSmall);
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textLight);
}
.listWrapper.increaseHeight {
  height: calc(50vh - 42px);
}

.friendWrapper {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  align-items: center;
}
.friendWrapper:nth-child(4n) {
  border-bottom: none;
}

.friendWrapper .actions {
  display: flex;
}
.friendWrapper .friendDetails {
  max-width: calc(100% - 76px);
}
.friendDetails .name {
  font-size: var(--font);
  color: var(--text);
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.friendDetails .text {
  font-size: var(--fontSmall);
  color: var(--textLight);
}
.friendWrapper .actions .icon {
  cursor: pointer;
  border: 1px solid var(--border);
  margin-right: 10px;
  border-radius: var(--borderRadius2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.friendWrapper .actions .icon:hover {
  background-color: var(--background);
}
